<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<div class="show-page">
<section class="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>FlightNo: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
</section>
  <br><br><h2>Destinations</h2>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
    <label>Airport:</label>
    <select name="airport">
      <% destinations.forEach(destination => { %>
        <option value='<%= destination %>'><%= destination %></option>
      <% }) %>
    </select>
  <label>Arrival:</label>
  <input type="datetime-local" name="arrival" > 
  <input type="submit" value="Add Destination">
</form>
<% if (flight.destinations.length){ %>
  <table class="arrival-table">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Arrival Time</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(d => { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h5> No Destinations have been chosen yet </h5>
<% } %>
  <div>
    <h2>Tickets</h2>
    <div class="tickets">
      <%- tickets.map(t => `<li>Seat - ${t.seat} &nbsp; <span>$ ${t.price}</span></li>`).join(' '); %>
    </div>
    <button><a href="/flights/<%= flight._id%>/tickets/new">New Ticket</a></button>
  </div>
</div>